.car-grid-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 28px;
    padding-right: 60px;
    padding-left: 60px;
}

.grid-title {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #1A202C;
    width: 170px;
    height: 24px;
    margin-left: 332px;
    padding-top: 28px;
}

.grid-count {
    display: flexbox;
    width: 61px;
    height: 24px;
    justify-content: center;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.28px;
    color: #90A3BF;
    margin-top: 38px;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(317px, 1fr));
    gap: 32px;
    max-width: 1200px;
    margin: 28px auto 0 auto;
    padding: 0px 392px;
}






