.car-card {
    display: flex;
    flex-direction: column;
    width: 317px;
    height: 388px;
    background: #FFF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    position: relative;
    margin-left: 24px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-details {
    margin-left: 24px;
}

.car-name {
    display: flex;
    width: 128px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.6px;
    color: #1A202C;
    margin-bottom: 0px;
}

.car-type {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #90A3BF;
    width: 128px;
    height: 20px;
    margin-bottom: 12px;
    margin: 0;
}

.favorite-btn {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 28px;
    right: 28px;
}

.favorite-btn.active {
    color: #ED3F3F;
}

.car-image {
    width: 272px;
    height: 84px;
    margin: auto;
    display: block;
}

.car-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #90A3BF;
    margin: 12px auto 24px auto;
    width: 272px;
}

.car-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 272px;
    margin: 0 auto;
}

.car-price {
    font-size: 20px;
    font-weight: 700;
    color: #1A202C;
}

.per-day {
    font-size: 14px;
    font-weight: 500;
    color: #90A3BF;
}

.rent-now {
    width: 116px;
    height: 44px;
    background: #3563E9;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
}

.rent-now:hover {
    background: #2748b3;
}
